{#
/**
 * @file
 * 
 * Available variables:
 * - rows: array slider elements.
 *
 * @ingroup themeable
 */
#}
<div class="anim-slider" id="slider-{{id}}">
	{% for item in rows %}
	<div class="anim-slide"> 
      <div class="animate-field-title">
        <h1 class="field-content">{{ item.title }}</h1>
	  </div>  
      <div class="animate-field-body">
        {{item.summary | raw}}
      </div>
      <div class="animate-field-link">
        <a href="#">Read more</a>
      </div>
        <img id="slideshow-image" typeof="foaf:Image" src="{{item.img}}" />
    </div>
	{% endfor %}		

	<!-- Arrows -->
	<nav class="anim-arrows">
		<span class="anim-arrows-prev"></span>
		<span class="anim-arrows-next"></span>
	</nav>
	<!-- Dynamically created dots -->
		
</div>